.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.up {
  position: relative;
  bottom: 50px;
  height: 100px;
}

#close:hover {
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
}

.authLink {
  color: blue;
  text-decoration: underline;
}

.authLink:hover {
  cursor: pointer;
  color: rgb(0, 0, 139);
}

.hover:hover {
  cursor: pointer;
  transform: scale3d(1.1, 1.1, 1.1);
}

.Théatre {
  background: blue;
}

.Musique{
  background-color: red;
}

.Cinéma{
  background-color: green;
}

.margin-top{
  margin-top: 70px;
}